a.rs-field-group-handle-link {
	font-size: 14px;
	margin-left: 4px;
	text-decoration: none;
	color: #494c4e
}

a.rs-field-group-handle-link .dashicons {
	font-size: 16px;
	position: relative;
	top: 2px
}